include README.md
include LICENSE
recursive-include cvdproc/guides/application *.md
recursive-include cvdproc/bash *.sh
recursive-include cvdproc/pipelines/bash/arts *.sh
recursive-include cvdproc/matlab *.m
recursive-include cvdproc/utils/python *.py
recursive-include cvdproc/utils/bash *.sh
recursive-include cvdproc/utils/matlab *.m
